
#main_container.row
  #games.col-md-4{ data: { url: pending_games_url } }
    %h2
      %i.icon-soccer
      = t('.matches')
      .status= render 'bets/status'
      %ol.games= render 'upcoming'
  #current_games.col-md-5
    #current_games_container{ :'data-url' => current_games_url, :class => !@current_games.present? && 'hidden' }
      = render 'current_games'
    #next_game{ :'data-url' => next_game_url, :class => @current_games.present? && 'hidden' }= render 'next_game'
    = render 'chat'
    #past_games{ :'data-url' => past_games_url, :class => @past_games.empty? && 'hidden' }= render 'past_games'
  #ranking.col-md-3{ :'data-url' => ranking_path }
    %h2
      %i.icon-trophy
      = t('.ranking')
    %ol= render 'ranking'
