.row
  .team_a.col-md-3.col-sm-3
    .flag.flaga= image_tag("flags/#{game.running? ? 48 : 32}/#{game.team_a.country.downcase}.png", alt: t(game.team_a.country, :scope => 'countries'))
    .country= t(game.team_a.country, :scope => 'countries')
  .col-md-2.col-sm-2.goals
    .goals_title= t('.goals_title')
    .value= game.team_a_goals || 0
  .col-md-2.col-sm-2
    - bet = @bets.select {|b| b.game_id == game.id }.first
    .your_points{ title: bet ? "#{t('.your_bet')}: #{bet.team_a_goals}:#{bet.team_b_goals}" : nil }
      .bet_title= t('.your_points')
      - if bet
        .points= bet.score || 0
      - else
        %p.no_bet= t('.no_bet')
    .live_round= t(game.round, :scope => 'rounds')
  .col-md-2.col-sm-2.goals
    .goals_title= t('.goals_title')
    .value= game.team_b_goals || 0
  .team_b.col-md-3.col-sm-3
    .flag.flagb= image_tag("flags/#{game.running? ? 48 : 32}/#{game.team_b.country.downcase}.png", alt: t(game.team_b.country, :scope => 'countries'))
    .country= t(game.team_b.country, :scope => 'countries')
