-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header= link_to image_tag('logo.png'), root_path
    .navbar-badge
      -#.testcloud
        = link_to "www.testCloud.#{I18n.locale == :de ? 'de' : 'io'}", "https://www.testcloud.#{I18n.locale == :de ? 'de' : 'io'}/", target: :blank
      .faq
        %i.icon-info
        = link_to t('.faq'), page_path(:faq), data: { toggle: "modal", target: "#faq" }
      .invite
        %i.icon-users
        = link_to t('.invite'), '', id: 'invite_friends', data: { message: t('.invite_message') }

  #top_stats
    .item.your_score
      %label= t('.your_score')
      .number= @current_user.score || 0
    .item.your_rank
      %label= t('.your_rank')
      .number
        <span>#</span>#{@current_user.score_ranking}
