!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Wm Game'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Wm Game'}"}
    %link{ :href => '//fonts.googleapis.com/css?family=Dosis|Ubuntu:400,700', :rel => 'stylesheet', :type => 'text/css' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://d3dy5gmtp8yhk7.cloudfront.net/2.2/pusher.min.js'
    = javascript_include_tag 'https://connect.facebook.net/en_US/all.js'
    = csrf_meta_tags
  %body{ :'data-appid' => Rails.application.secrets.omniauth_provider_key, :'data-invitation-url' => log_invitation_path }
    #fb-root
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield

    %footer
      Icon used in Logo:
      = link_to 'Goalkeeper', 'http://thenounproject.com/term/goalkeeper/23509/', target: :blank
      by
      = link_to 'Juan Pablo Bravo', 'http://thenounproject.com/bravo', target: :blank
      at
      = link_to 'The Noun Project', 'http://thenounproject.com/', target: :blank

    = render 'layouts/modals'